/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$large: 1400px;

@mixin mobile {
    @media (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: $laptop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin large {
    @media (min-width: $large) {
        @content;
    }
}